.tumbleweed {
  position: relative;
  bottom: 0px;
  /* left: -82px; */
  /* right: 120px; */
  width: 50px;
  height: 50px;
  background-image: url("../../static/img/actual_tumbleweed2.png");
  background-size: cover;
  animation: tumbleweed-animation 12s linear infinite;
}

@keyframes tumbleweed-animation {
  0% {
    transform: translateX(0vw) translateY(-30px) rotate(0deg);
  }
  5% {
    transform: translateX(10vw) translateY(2px) rotate(229deg);
  }
  10% {
    transform: translateX(20vw) translateY(-30px) rotate(458deg);
  }
  15% {
    transform: translateX(30vw) translateY(-20px) rotate(687deg);
  }
  20% {
    transform: translateX(40vw) translateY(-7px) rotate(916deg);
  }
  25% {
    transform: translateX(50vw) translateY(2px) rotate(1145deg);
  }
  30% {
    transform: translateX(60vw) translateY(-15px) rotate(1374deg);
  }
  35% {
    transform: translateX(70vw) translateY(2px) rotate(1603deg);
  }
  40% {
    transform: translateX(80vw) translateY(-15px) rotate(1832deg);
  }
  45% {
    transform: translateX(90vw) translateY(-20px) rotate(2061deg);
  }
  50% {
    transform: translateX(95vw) translateY(-30px) rotate(2250deg);
  }
  55% {
    transform: translateX(90vw) translateY(2px) rotate(2061deg);
  }
  60% {
    transform: translateX(80vw) translateY(-20px) rotate(1832deg);
  }
  65% {
    transform: translateX(70vw) translateY(2px) rotate(1603deg);
  }
  70% {
    transform: translateX(60vw) translateY(-15px) rotate(1374deg);
  }
  75% {
    transform: translateX(50vw) translateY(2px) rotate(1145deg);
  }
  80% {
    transform: translateX(40vw) translateY(-15px) rotate(916deg);
  }
  85% {
    transform: translateX(30vw) translateY(-30px) rotate(687deg);
  }
  90% {
    transform: translateX(20vw) translateY(-15px) rotate(458deg);
  }
  95% {
    transform: translateX(10vw) translateY(2px) rotate(229deg);
  }
  100% {
    transform: translateX(0vw) translateY(-30px) rotate(0deg);
  }
}